<div class="section" id="education">
  <h1 class="heading"> Education </h1>
  <div class="edu-details">
    <div class="phd">
      <h2>Doctor of philosophy</h2>
      <h4>Mumbai university</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sit officiis. Modi enim ex velit laboriosam suscipit illo, earum nesciunt asperiores, aperiam reiciendis harum rerum repellendus. Explicabo veniam cupiditate error.</p>
      <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
    </div>
    <div class="phd">
      <h2>Master of Technology</h2>
      <h4>Mumbai university</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sit officiis. Modi enim ex velit laboriosam suscipit illo, earum nesciunt asperiores, aperiam reiciendis harum rerum repellendus. Explicabo veniam cupiditate error.</p>
      <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
    </div>
    <div class="phd">
      <h2>Bachelors of computer engineering</h2>
      <h4>Mumbai university</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, sit officiis. Modi enim ex velit laboriosam suscipit illo, earum nesciunt asperiores, aperiam reiciendis harum rerum repellendus. Explicabo veniam cupiditate error.</p>
      <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
    </div>
  </div>
  </div>