.home {
    margin-top: 30px;
    background-color: rgb(11,50,43);
    height: 35vw;
}
.profile-img {
    position: relative;
    margin-top: -20px;
    left: 10%;
}
.home p {
    color:white;
    font-size: 20px;
    font-family: Consolas;
    position: absolute;
    width: 500px;
    left: 60%;
    top: 40%;
}
.home h1 {
    font-size: 80px;
    font-family: 'Lucida Sans';
    font-stretch: extra-expanded;
    color: rgb(190,109,84);
    position: absolute;
    top: 10%;
    left: 46%;
}
