html {
	scroll-behavior: smooth;
}

/* Navigation section */

#navigation {background-color: indianred;}
.navbar-brand {font-family: 'Roboto'; font-size: 2.5rem;}
.navbar-nav {font-size: 1.3 rem;}
.navbar {padding-bottom: 0%;}
.nav-item  {padding: 0px 7px}
.container-fluid {padding: 3% 15% 3%}
.collapse {padding: 0px}

/* home section */
#home h1 {
  overflow: hidden;
  border-right: .15em solid indianred;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 4s steps(40, end),
    blink-caret 1s step-end 4;
}

@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: black; }
}

#home {text-align: center; background-color: indianred;}
.heading {font-family: sans-serif;}
.home-image {border-radius: 100%; width:15%; margin: 20px}

/* About section */

#about {text-align: center; padding: 3% 15% 3%}

/* Education section */
#education {text-align: center; padding: 3% 15% 3%; background-color: indianred;}
.image_size {width: 450px;}
/* Books */
#books {text-align: center; padding: 3% 15% 3%}

/* Acheivements */

#achievements {text-align: center; padding: 3% 15% 3%; background-color: indianred;}