<section id="about">
  <h1 class="heading"> About </h1>
  <p> Dr. Anjali Yeole is currently serving as Assistant Professor, in Vivekanad Educational Society's Institute of
    Technology (VESIT), Mumbai University, Mumbai, India. VESIT is considered as one of the finest colleges of India.
    Having interests in fields such as IOT,Parallel Computing, Distributed Computing, Virtualization and Cloud
    Computing,System Security, Computer Network and Web Technology. She has also delivered and conducted workshops, seminars and
    expert talks.She has patented innovative ideas for her research work
  </p>
</section>