<section id="books">
      
  <h1 class="heading"> Books </h1>
  <p> Dr. Anjali Yeole has reviewed two books <em>“Computer Organization and Architecture”</em> and <em>“Internet of
      Things"</em> by Shriram K. Vasudevan, Abhishek S. Nagarajan, and R. M. D. Sundaram”. She authored two books
    <em>“Information Management”</em> and <em>“Internet of Everything”</em>.

    <h2> Proceedings of the International Conference & Workshop on Emerging Trends in Technology </h2>
    <p>Vulnerability in web applications allows malicious users to obtain unrestricted access to private and
      confidential information. SQL Injection vulnerabilities are particularly relevant, as web services frequently
      access a relational database using SQL commands. SQL injection is ranked at the top in web application attack
      mechanisms used by hackers to steal data from organizations. Hackers' can take advantages due to flawed design,
      improper coding practices, improper validations of user input, configuration errors, or other weaknesses in the
      infrastructure. Reference has said that researchers have proposed different techniques to provide a solution for
      SQLIAs (SQL Injection Attacks), but many of these solutions have limitations that affect their effectiveness and
      practicability.</p>

    <h2> Proceedings of International Conference on Wireless Communication</h2>
    <p> Generally, 6LoWPAN network is used for communication in IoT. All the 6LOWPAN nodes in the radio range of 6LoWPAN
      boarder router will start sending or reading data. There is no authentication present; hacker can take advantage
      of this situation and can be able to place his own sensor in the network which will start generating some random
      data at high speed and of huge size. This will result in Distributed Denial of Service [IoT-DDOS]. To avoid this
      problem, group management protocol has been proposed in this paper, “MAC-based Group Management Protocol-IoT” [MAC
      GMP-IoT].</p>

    <h2> Asian Journal For Convergence In Technology (AJCT) </h2>
    <p> The financial market in itself is highly dynamic in nature and is affected by factors that are multifaceted.
      Human beings have the ability to monitor and assess several of these factors simultaneously. However, similar
      versatility is not easily achieved by software. Our aim is to create a analysis system that showcases some of this
      desired versatility, with the help of several algorithms and techniques, that will help capture more than one
      factors needed for efficient and thorough analysis of such a complex market. Moreover, the precision and
      robustness required to analyze the mammoth amount of financial data available is beyond human capacity. A
      combination of a holistic approach along with an added layer of efficiency will create a system capable of much
      more than mere analysis of the facts.</p>
</section>