<section id="interaction" >
    <h1 class="heading">Interactions</h1>
    <ul>
      <li>Dr. Anjali Yeole has helped and contributed to technical societies by publishing papers on uses of IOT on
        different fields.</li>
      <li>She is now a professor at Vivekananda's Education Society's Institute of Technology (VESIT) whichcomes under
        renowned Mumbai University</li>
      <li>She interracts with thousands of students through college and various workshops and guide them to their
        goals</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</li>
      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
      </li>
      <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    </ul>
</section>
