<section id="achievements">
  <h1 class="heading"> Achievements </h1>
  <img
    src="https://media-exp1.licdn.com/dms/image/C5122AQHm8L7ysjKSzQ/feedshare-shrink_800/0?e=1593043200&v=beta&t=NLn-tWoVvQb-7ZKbpWEFwdcdXB6tv4QDKJew3_aT3fk"
    alt="IOT_certificate" width="120" height="120">
  <h2> Patent for Use of Internet of Things(IOT) in Healthcare.</h2>
  <p>In today's world of connectivity, with the advancement of Internet of Things (IoT) all entities are connected to
    each other by some communication means. The Internet of Things for the medical equipment will produce data that can
    go a long way in not only increasing equipment efficiency, but also patient health. The Internet of Things (IoT) is
    increasingly being recognized by industry and different services mainly in healthcare. This paper describes the
    various Internet of Things (IoT) enable devices and its practices in the area of healthcare for toddler, children,
    chronic care, monitoring of critical patients, operation theaters and medicine dispenser.This project is divided
    into 4 layers:Patients body network,Data Analytics layer,Private storage layer with block chaining and User Layer.
  </p>


</section>