<section id="home">
  <div class="container-fluid home-container">
    <table>
      <td class="image-column"><img class='home-image' src="../../assets/Images/anjali_yeole.jpg" alt="Dr. Anjali Yeole"
          title="Dr. Anjali Yeole">
      </td>
      <td>
        <h1 class="first-heading"> Dr. Anjali Yeole</h1>
        <h3 class="heading">Assistant Professor at Vivekananda's Education</h3>
        <h3 class="last-heading">Society's Institute of Technology</h3>
      </td>
    </table>
  </div>
</section>
